
  
  body{
    max-width: 1920px;
    height: 970px;
  
  }
  main{
    align-items: center;
    height: 760px;
    width: 100%;
    margin: 14px auto 14px;
    display: flex;
    justify-content: center;
  }
  
  .div_wrapper {
    background-color: #707070;
    background-image: url(../Images/genshin_wallpapers.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 15px;
    width: 100%;
  
  }
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #707070;
    border-radius: 8px;
    justify-content: space-around;
    
  }
  
  .div1 {
    display: flex;
  }
  
  .logo_link {
    font-size: 16px;
    font-weight: 700;
    color: #e4dede;
    font-family: congenial;
  }
  
  .team_link {
    font-size: 10px;
    font-weight: 100;
    font-family: congenial;
    color: #e4dede;
  
  }
  
  .genshin-impact-logo_icon {
    width: 25px;
    height: 25px;
  }
  
  .burger {
    color: #e4dede;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: congenial;
    text-align: center;
    align-items: center;
    font-size: 16px;
    outline: none;
  }
  
  .menu_list {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    background-color: #fff;
    width: 50%;
    visibility: none;
    outline: none;
  }
  
  .menu_list_item {
  }
  
  .menu_list_link {
    color: #e4dede;
    font-size: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: congenial;
  }
  
  .menu_list_link:hover {
    transition: all 1s;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1366px) {
    body{
      max-width: 1360px;
    }
  }
  
  @media screen and (max-width: 1360px) {
    body{
      max-width: 1360px;
    }
  }
  @media screen and (max-width: 1200px) {
    body{
      max-width: 1200px;
    }
  }
  @media screen and (max-width: 1080px) {
    body{
      max-width: 1080px;
    }
  }
  .timer {
    justify-content: center;
    margin-left: 108px;
    font-size: 20px;
    color: #e4dede;
  }
  .input_sound {
    width: 75px;
    height: 1px;
    margin: 13px 0;
    background: #ffffff;
    cursor: pointer;
    background-color: #000000;
    -webkit-appearance: none;
    border: 0.2px solid #010101;
    cursor: pointer;
  }
  
  .input_sound::-webkit-slider-thumb {
    width: 10px;
    height: 5px;
    background: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-appearance: none;
  }
  
  .input_sound:focus {
    outline: none;
  }
  
  .wrapper_range {
    display: flex;
  }
  
  .mini_sound {
    width: 9px;
    height: 9px;
    margin: 9px 5px 5px 5px;
  }
  
  .max_sound {
    width: 10px;
    height: 10px;
    margin: 8px 0px 5px 5px;
  }
  
  .wrapper_range {
    display: flex;
    justify-content: space-between;
  }